@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #191d26;
	color: white;
	font-family: Inter;
}

@layer utilities {
	td {
		@apply p-0;
	}

	.container {
		@apply px-4;
	}
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
